*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background: linear-gradient(#e66465, #9198e5);*/
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-container{
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.titulo{
    font-size: 3rem;
    font-family: cursive;
    text-shadow: 2px 2px 2px grey;
}
.seccion-container{
    background-color: #f7f2f2;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
}
.div-correo label, .div-password label, .div-name label, h3{
    font-size: 2rem;
    font-family: cursive;
    text-shadow: 2px 2px 2px grey;
}
.div-btn, h3{
    display: flex;
    justify-content: center;
}
.btn-ingresar{
    font-size: 1.2rem;
    background-color: #e66465;
    color: white;
    text-shadow: 2px 2px 2px grey;
}
.btn-ingresar:hover{
    background-color: #9198e5;
    color: white;
    text-shadow: 2px 2px 2px grey;
}
.form-control{
    border: 2px solid #9198e5;
}